header {
    background-color: orangered;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-radius: 7px 7px 0 0;
}
header img{
    height: 70px;
    width: 100px;
}
header p{
    text-transform: capitalize;
    color: black;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
}
li
{
    width: 100px;
}
li a {
    color:white;
    /* font-size: large;
    font-weight: bold; */
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
}
nav ul li a:hover {
    color:rgb(199, 31, 31);
    background :white;
    letter-spacing: 5px;
}
nav{
    background-color: #111;
    height: 70px;
    border-radius: 0 0 7px 7px;
    padding: 0.01ex 0 ;
}
main{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: white;
    flex-wrap: wrap;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding:13px;
    margin: 13x;
}
section img{
    width: 100px;
    height: 100px;
}
section p{
    text-align: center;
    text-transform: capitalize;
}
section h2{
    font-size: x-large;
    text-transform: uppercase;
    text-align: center;
}
section:hover{
    background-color: rgb(250, 226, 191);
}
section form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button{
    text-align: center;
    background-color: orangered;
    border: 1px orangered solid;
    border-radius: 25px;
    font-size: 17px;
    margin: 7px 0;
    padding:10px 45px;
    text-transform: capitalize;
}
button:hover{
    background-color: orange;
    border: 1px orange solid;
}
.form{
    background-color: orange;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
}
.form h1{
    text-transform: capitalize;
}
.form label{
    text-transform: uppercase;
    text-align: center;
    font-size: 19px;
}
#button{
    border: 2px solid black;
    border-radius: 0;
    border:1px orangered solid;
}
#button:hover{
    border: 1px orange solid;
}
.form a{
    text-align: center;
    color: black;
}
.form a:hover{
    color: black;
}
footer{
    background-color: orangered;
    font-weight: bold;
    text-align: center;
}

